.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: #fff;
    padding: 4rem;
    border-radius: 4.8rem;
    width: 614px;
    height: 683px;
  }
  
  .modal-header,
  .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .button {
    padding: 10px 20px;
    width: 100%;
    background-color: #ff5959;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }