.slider__tours{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slider__tours-container img{
    border-radius: 2rem;
    width: 39rem;
    height: 29rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}
.image-overlay{
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 7.2rem;
    padding: 2rem;
    height: 7rem;
    border-radius: 0rem 0rem 2rem 2rem;
    background: #0000004e;
    width: 100%;
}